#main-menu li.active a {
  color:#fff;
}

#main-menu a {
  color:#505050;
}

.input-daterange input {
  border-radius:0 !important;
}

#appointment-breadcrumb a:hover {
  border-left-color:transparent;
  border-top-color:transparent;
  border-right-color:transparent;
}

